<div class="about">
    <div>
    <!-- relative path -->
    <!-- <a routerLink="Home"> back</a>  -->
    <!-- absolute path -->
    <!-- <a routerLink="/Home"> back</a> -->
<!-- relative path -->
<!-- <a routerLink="./Home"> back</a>  -->
<!-- relative path -->
<!-- <a routerLink="../Home"> back</a>  -->

<button (click)="navigate()">Back to Home</button>
</div>
<h1>about works!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illum, totam optio illo, maxime provident fugit harum rem et, vel fugiat facere rerum animi repudiandae ipsa nihil ab doloribus corrupti?
Odit id at veniam doloribus non provident assumenda tenetur quidem magnam, debitis nobis deserunt voluptate quae distinctio facere magni. Doloremque porro aperiam veniam ea vel nulla facilis possimus nobis deserunt?
Facere, quaerat porro magnam repellendus architecto harum obcaecati repellat perspiciatis dolores illo aut iste maxime! Corporis, eius ducimus? Minima porro, debitis voluptates eum magnam illum delectus natus et quidem qui?
Cupiditate natus iste necessitatibus omnis fugiat explicabo vel in eaque provident atque eum laboriosam asperiores, numquam tempora eveniet deleniti temporibus! Eum inventore obcaecati, deserunt corporis deleniti fuga tenetur nam? Beatae.
Fugiat id impedit amet aut necessitatibus autem obcaecati, earum nobis non dolorem voluptate dolorum sint qui nisi nemo assumenda ipsa ipsum dolore officiis dolor rem et? Sapiente incidunt minima voluptate?
Voluptas adipisci, dolor aperiam optio obcaecati similique odio voluptatum quidem maiores alias fugiat deserunt laudantium in tempore temporibus repudiandae exercitationem pariatur perspiciatis. Dolores minima assumenda illum earum animi! Libero, voluptates?
Illum, nisi laudantium beatae rerum culpa adipisci obcaecati earum, ad, molestias sequi aspernatur minima! Minus, corrupti. Eos debitis autem sunt harum suscipit! Accusantium cupiditate dolore ipsum quos nisi perspiciatis mollitia.
Ullam omnis aspernatur error corporis voluptatum! Nesciunt perferendis animi delectus consequatur ipsam voluptate quasi debitis at officiis. Nam labore nobis praesentium ad repudiandae optio necessitatibus quis, corporis commodi officiis asperiores!
Nam, dolores odit? Harum, quam. Nemo earum exercitationem nostrum natus, tempora, mollitia molestias corporis corrupti dolorum distinctio aliquam doloribus unde sint, eligendi ex repellendus. Quibusdam suscipit eius fugiat esse iste!
Minima, sunt! Esse sunt exercitationem nam quas temporibus eligendi ipsum doloremque ducimus repellat deleniti velit quaerat molestiae tempore in eaque dolor ipsam, excepturi sit cum a dolorem? Exercitationem, voluptatibus similique!</p>
</div>